### Linear Regression ile Ev Fiyatı Tahmin Uygulaması

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [6]:
df = pd.read_csv("HousingData.csv")
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [11]:
df = df.fillna(df.mean()) ### Her alanı o alanın ortalaması ile doldurur!
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [20]:
X = df.drop(columns=["MEDV"])
y = df["MEDV"]
X,y

(        CRIM    ZN  INDUS  CHAS    NOX     RM        AGE     DIS  RAD  TAX  \
 0    0.00632  18.0   2.31   0.0  0.538  6.575  65.200000  4.0900    1  296
 1    0.02731   0.0   7.07   0.0  0.469  6.421  78.900000  4.9671    2  242
 2    0.02729   0.0   7.07   0.0  0.469  7.185  61.100000  4.9671    2  242
 3    0.03237   0.0   2.18   0.0  0.458  6.998  45.800000  6.0622    3  222
 4    0.06905   0.0   2.18   0.0  0.458  7.147  54.200000  6.0622    3  222
 ..       ...   ...    ...   ...    ...    ...        ...     ...  ...  ...
 501  0.06263   0.0  11.93   0.0  0.573  6.593  69.100000  2.4786    1  273
 502  0.04527   0.0  11.93   0.0  0.573  6.120  76.700000  2.2875    1  273
 503  0.06076   0.0  11.93   0.0  0.573  6.976  91.000000  2.1675    1  273
 504  0.10959   0.0  11.93   0.0  0.573  6.794  89.300000  2.3889    1  273
 505  0.04741   0.0  11.93   0.0  0.573  6.030  68.518519  2.5050    1  273

      PTRATIO       B      LSTAT
 0       15.3  396.90   4.980000
 1       17.8  396.90   9.140000
 2       17.8  392.83   4.030000
 3       18.7  394.63   2.940000
 4       18.7  396.90  12.715432
 ..       ...     ...        ...
 501     21.0  391.99  12.715432
 502     21.0  396.90   9.080000
 503     21.0  396.90   5.640000
 504     21.0  393.45   6.480000
 505     21.0  396.90   7.880000

 [506 rows x 13 columns],
 0      24.0
 1      21.6
 2      34.7
 3      33.4
 4      36.2
        ...
 501    22.4
 502    20.6
 503    23.9
 504    22.0
 505    11.9
 Name: MEDV, Length: 506, dtype: float64)

# Scikit-Learn -> ML Algoritmalarını implemente edebildiğimiz kütüphane

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)