In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Online Retail.xlsx")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.shape

(541909, 8)

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [8]:
df.shape

(406829, 8)

In [10]:
df = df[df['Country'] == 'United Kingdom']
df.shape

(361878, 8)

In [11]:
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [12]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [13]:
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00

In [16]:
# RFM Hesaplama
import datetime as dt
analysis_date = df['InvoiceDate'].max() + dt.timedelta(days=1)
analysis_date

Timestamp('2011-12-10 12:49:00')

In [22]:
rfm = df.groupby("CustomerID").agg({
    "InvoiceNo": "nunique",
    "InvoiceDate": lambda x: (analysis_date - x.max()).days,
    "TotalPrice": "sum"
})
#sum,mean,max,min
rfm.columns = ["Recency","Frequency","Monetary"]
rfm

            Recency  Frequency  Monetary
CustomerID
12346.0           2        326      0.00
12747.0          11          2   4196.01
12748.0         224          1  29072.10
12749.0           8          4   3868.20
12820.0           4          3    942.34
...             ...        ...       ...
18280.0           1        278    180.60
18281.0           1        181     80.82
18282.0           3          8    176.60
18283.0          16          4   2094.88
18287.0           3         43   1837.28

[3950 rows x 3 columns]