# Pandas Kütüphanesi

Pythonda veri analizi ve veri manipülasyonu için kullanılan bir kütüphanedir.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc1\miniconda3\envs\gyk_env\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pc1\miniconda3\envs\gyk_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2017.3 in c:\users\pc1\miniconda3\envs\gyk_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\pc1\miniconda3\envs\gyk_env\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\pc1\miniconda3\envs\gyk_env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)

In [3]:
import pandas as pd

# Pandas Series
Tek boyutlu dizidir. (Exceldeki tek bir sütun gibi düşünebiliriz.)

In [4]:
series1 = pd.Series([10,20,30,40,50])
series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Pandas DataFrame (Tablo)

Birden fazla sütun içeren bir tablodur. (Excel dosyası)

In [11]:
data = {
    "Ad": ["Halit","Kudret","Sümeyye","Hilal"],
    "Yaş":[25,"Deneme",25,25],
    "Şehir":["İstanbul","Ankara","İzmir","Bursa"]
}
data

{'Ad': ['Halit', 'Kudret', 'Sümeyye', 'Hilal'],
 'Yaş': [25, 'Deneme', 25, 25],
 'Şehir': ['İstanbul', 'Ankara', 'İzmir', 'Bursa']}

In [12]:
df1 = pd.DataFrame(data)
df1

        Ad     Yaş     Şehir
0    Halit      25  İstanbul
1   Kudret  Deneme    Ankara
2  Sümeyye      25     İzmir
3    Hilal      25     Bursa

In [14]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
# CSV -> Comma,Seperated,Values