In [3]:
import pandas as pd

In [22]:
df = pd.read_csv("loan_approval_dataset.csv", skipinitialspace=True)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [25]:
df.columns = df.columns.str.strip() #dataframe Ã¼zerinden okunduktan sonra.

In [5]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [6]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [7]:
# Eksik veri olmadÄ±ÄŸÄ± iÃ§in veri doldurma aÅŸamasÄ± atlandÄ±.

In [8]:
# Encoding aÅŸamasÄ±

In [23]:
df['education']

0           Graduate
1       Not Graduate
2           Graduate
3           Graduate
4       Not Graduate
            ...
4264        Graduate
4265    Not Graduate
4266    Not Graduate
4267    Not Graduate
4268        Graduate
Name: education, Length: 4269, dtype: object

In [30]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [24]:
categorical_columns = ["education","self_employed","loan_status"]
le = LabelEncoder()
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

In [26]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1
2,3,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,1
3,4,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,1
4,5,5,1,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1

In [27]:
X = df.drop(columns=["loan_status"])
y = df["loan_status"]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [35]:
# Ã–lÃ§eklendirme
# Gelir,YaÅŸ,BaÅŸvuru SÃ¼resi
# 80000, 25, 12 ay
scaler = StandardScaler()

In [34]:
X_train = scaler.fit_transform(X_train) 
X_test = scaler.fit_transform(X_test)

#Y deÄŸeri scale edilmedi cÃ¼nkÃ¼ etiket bir sÄ±nÄ±f, etiketi scale etme gereÄŸi duymuyoruz.

In [36]:
from sklearn.neighbors import KNeighborsClassifier

In [38]:
knn = KNeighborsClassifier(n_neighbors=5)

In [39]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [40]:
y_pred = knn.predict(X_test)

In [41]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [42]:
confusion_matrix(y_test,y_pred)

array([[723,  87],
       [ 67, 404]], dtype=int64)

In [44]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.89      0.90       810
           1       0.82      0.86      0.84       471

    accuracy                           0.88      1281
   macro avg       0.87      0.88      0.87      1281
weighted avg       0.88      0.88      0.88      1281

In [45]:
accuracy_score(y_test,y_pred)

0.8797814207650273

In [46]:
# GridSearchCV
from sklearn.model_selection import GridSearchCV

In [47]:
param_grid = { "n_neighbors": list(range(1,21)) }

In [50]:
grid = GridSearchCV(KNeighborsClassifier(), param_grid, scoring="accuracy",cv=5)
grid.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20]},
             scoring='accuracy')

In [51]:
grid.best_params_

{'n_neighbors': 17}

In [52]:
knn2 = KNeighborsClassifier(n_neighbors=17)
knn2.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=17)

In [53]:
y_pred2 = knn2.predict(X_test)

In [54]:
confusion_matrix(y_test,y_pred2)

array([[739,  71],
       [ 70, 401]], dtype=int64)

In [55]:
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91       810
           1       0.85      0.85      0.85       471

    accuracy                           0.89      1281
   macro avg       0.88      0.88      0.88      1281
weighted avg       0.89      0.89      0.89      1281

In [56]:
accuracy_score(y_test,y_pred2)

0.8899297423887588

In [57]:
# Pipeline yapÄ±sÄ±
# KNN Weight
# KNN Metric
# PCA yapÄ±sÄ± ve uygulanmasÄ± (Principal Component Analysis)

# Bu 4 baÅŸlÄ±k ile yukarÄ±daki algoritmayÄ± aÅŸaÄŸÄ±da geliÅŸtirmeye Ã§alÄ±ÅŸalÄ±m. ðŸ‘‡ðŸ‘‡